@font-face {
  font-family: 'Pocket Monk';
  src: url('../public//fonts/pokemonFont.ttf') format('truetype');
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Pocket Monk';
  background-color: #d6d3d3;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: #302f2f;
}
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
  transition: 0.3s;
}

html,
body,
span,
h1,
h2,
h3,
p,
a,
ol,
ul,
li,
form,
label,
legend,
menu,
nav {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1rem;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}
